*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.App {
  text-align: center;
}
.header{
  background-color: #01d0b1;
  color: white;
  .info{
    height: 12rem;
    text-align: left;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    h1{
      margin-bottom: 1rem;
    }
    h2{
      font-size: 1.1rem;
    }
  }
  .filters-bar{
    background-color: dodgerblue;
    height: 3rem;
    display: flex;
    align-items: center;
    .filters{
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
      width: 100%;
      .envoltorio{
        border: 1px solid gainsboro;
        width: max-content;
        background-color: white;
        padding: .2rem;
        border-radius: 5px;
        .input-icon{
          color: gainsboro;
          margin-right: 10px;
        }
        input, select{
          border: none;
        }
      }
    }
  }
  button{
    border-radius: 5px;
    border: none;
    background-color: gainsboro;
    padding: .3rem;
    cursor: pointer;
  }
}
.cards-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.empty-hotels{
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  height: 40vh;
  background-color: goldenrod;
  margin-top: 2rem;
  border-radius: 25px;
  box-shadow: 0px 2px 5px 2px grey;
  h2{
    font-size: 1.25rem;
    margin: 2rem;
    color: gainsboro;
  }
  .fa-skull-crossbones{
    font-size: 100px;
    color: gainsboro;
  }
  
}
.card{
  margin: 1rem 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border: 1px solid gainsboro;
  border-radius: 10px;
  overflow: hidden;
  height: min-content;
  max-width: 30%;
  .card-img-top{
    width: 100%;
  }
  .btn{
    width: 100%;
    padding: 1rem 0;
    background-color: #01d0b1;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    color: white;
  }
  .card-body{
    margin: 1rem;
  }
  .description{
    text-align: left;
    margin: 1rem 0;
    .card-title{
      margin-bottom: 2rem;
      font-size: 1.75rem;
    }
  }
  .info-container{
    display:flex;
    flex-flow: row wrap;
    .location, .capacity{
      background-color: gainsboro;
      border-radius: 5px;
      display: flex;
      width: max-content;
      margin: .3rem .3rem .3rem 0;
      .icon{
        background-color: dodgerblue;
        color: white;
        padding: .4rem .6rem;
        border-radius: 5px 0 0 5px;
      }
      .info-txt{
        padding: .4rem;
      }
    }
    .location{
      margin-right: auto;
    }
    .pricing{
      width: max-content;
      margin: .3rem .3rem .3rem .3rem;
      .money{
        background-color: dodgerblue;
        padding: .4rem .6rem;
        border-radius: 5px;
        .fa-dollar-sign{
          margin: 0 .15rem;
          color: white;
        }
        .transparentize{
          opacity: 0.5;
        }
      }
  }
  }
  
}
